# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
# PlayHT
PLAYHT_USER_ID=
PLAYHT_API_KEY=
# Azure TTS
AZURE_TTS_KEY=
# Redis
REDIS_URL=redis://redis:6379/0
# OpenAI (for LangChain tools)
OPENAI_API_KEY= 